<ion-view view-title="{{articulo.title}}">

    <ion-content class="padding">
        <div class="list card">
            <div class="col col-100 padding">
              <img  class="full-image" ng-src=" http://birdev.mx/message_app/public/images/{{articulo.images[0].ruta.split('/').pop()}}" >
            </div>
            <div class="item item-body fond_art">
                <p ng-bind-html="articulo.description"></p>
            </div>
            <button class="button" ng-click="shareAnywhere()">compartir  cualquier cosa</button>
        </div>
        <!-- desplegado del video -->
           <ion-item ng-if="articulo.video.indexOf('http') === 0" >
            <div class="video-container fond_art">
                <youtube-video video-url="articulo.video"></youtube-video>
            </div>
        </ion-item>
    </ion-content>

</ion-view>
