<ion-view class="login" title="Calendario" id="page21" view-title="{{fecha}}">
    <ion-content class="trans">
        <ion-list>
            <ion-radio ng-model="diaDatos.inicioFin" ng-value="'I'">Inicio menstruación</ion-radio>
            <ion-radio ng-model="diaDatos.inicioFin" ng-value="'F'">Fin menstruación</ion-radio>

            <ion-toggle toggle-class="toggle-royal" ng-model="diaDatos.relaciones" ng-checked="diaDatos.relaciones">
                    Relaciones sexuales
            </ion-toggle>

             <ion-toggle toggle-class="toggle-royal" ng-model="diaDatos.usoMetodo" ng-checked="diaDatos.usoMetodo" ng-show="diaDatos.relaciones">
                    Uso de método anticonceptivo
            </ion-toggle>

            <ion-item class="item item-input item-select"  ng-show="diaDatos.usoMetodo">
                <div class="input-label">
                  Métodos anticonceptivos
                </div>
                <select ng-model="diaDatos.queMetodo">
                    <option >Pastilla del día siguiente</option>
                    <option >Pastilla anticonceptiva</option>
                    <option >Condón</option>
                    <option >Parche</option>
                    <option >DIU</option>
                    <option >Otro</option>
                </select>
            </ion-item>
        </ion-list>


         <button id="configuraciN-button11" style="font-weight:600;" class=" button button-royal  button-block " ng-click="guardaDia()">Guardar</button>
    </ion-content>
</ion-view>
