<ion-view view-title="Calendario" class="login">
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-gear-a" ng-click="configuracion()"></button>
	</ion-nav-buttons>
	<ion-content class="has-header padding">
		<onezone-datepicker datepicker-object="onezoneDatepicker"></onezone-datepicker>
		<div class="card card_mod">
			<div class="col col-90 col-offset-10">
				<div class="item trans text-white without">
					<b>Señalética</b>
				</div>
				<div class="item item-text-wrap trans without">
					<div class="color rayas"></div>
					<h2 class="text-white"><b class="ita">Rayado</b></h2>
					<p class="text-white">Días de sangrado.</p>
				</div>
				<div class="item item-text-wrap trans without">
					<div class="color rojo"></div>
					<h2 class="text-white"><b class="ita">Rojo</b></h2>
					<p class="text-white">Días de mayor riesgo para embarazo.</p>
				</div>
				<div class="item item-text-wrap trans without">
					<div class="color amarillo"></div>
					<h2 class="text-yellow"><b class="ita">Amarillo</b></h2>
					<p class="text-white">Días menor riesgo para embarazo.</p>
				</div>
			</div>
		</div>

	</ion-content>

	<!-- <button  style="font-weight:600;" class=" button button-positive  button-block " ng-click="calcularCalendario()">Calcular</button> -->

</ion-view>
